
  <div class="card-block">
		<form name="myForm"  class="form" action="/tdo" method="post" onsubmit="validateForm()" accept-charset="utf-8">
			<p><input type="text" name="article[title]" value="" placeholder="Enter Todo List" id="article[title]" />
				 <input type="submit" value="Add list" /></p>
		</form>

		<div class="list">
		  <% @article.each do |article| %>
			 <p><form action="/tdo/<%= article.id %>" method="post" onsubmit="validatemessage()">
				    <a><%= article.title %></a>
						<!-- href="/tdo/<%= article.id %>" -->
		        <input type="hidden" name="_method" value="delete" />
		        <input type="submit" value="Delete">
		       <input type="button" onclick="ShowHideDiv(<%=article.id%>)" value="Edit">
		      </form>

			    <form action="/tdo/<%= article.id %>" id="dvWrap<%=article.id%>" style="display: none" method="post" accept-charset="utf-8" >
			      <input type="hidden" name="_method" value="PUT">
				    <input type="text" name="article[title]" value="<%= article.title %>" id="article[title]" >
				    <input type="submit" value="edit list" />
			    </form>
		    </p>
		  <% end %>
		</div>
  </div>

<script type="text/javascript">
function ShowHideDiv(chkButton) {
		var dvWrap = document.getElementById("dvWrap"+chkButton);
		if(dvWrap.style.display == "block"){
			dvWrap.style.display = "none";
			return;
		}
		dvWrap.style.display = "block";
}
</script>
