
<h2>todo list<%= @article.id %>: <%= @article.title %></h2>

<!-- <p><%= @article.content %></p> -->

<a href="/tdo">Back</a> | <a href="/tdo/<%= @article.id %>/edit">Edit</a>

<form action="/tdo/<%= @article.id %>" method="post">
<input type="hidden" name="_method" value="delete" />
<input type="submit" value="Delete">
</form>
